colorlog>=6.8.2
pycares<5.0.0
homeassistant==2025.12.1
hassil
home-assistant-intents
# WebUI will crash without packages below, but tests will pass
PyTurboJPEG>=1.8.0
mutagen>=1.47.0
ha-ffmpeg>=3.2.0
pymicro-vad>=1.0.2
pyspeex-noise>=1.0.2
