name: Deploy to Dev Repo

on:
    push:
        branches:
            - dev

jobs:
    deploy:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout main repo
              uses: actions/checkout@v4
              with:
                  fetch-depth: 0
                  persist-credentials: false

            - name: Transform to Dev version
              run: |
                  # --- 1. Modifications to manifest.json ---
                  sed -i 's/"domain": "watchman"/"domain": "watchman_dev"/' custom_components/watchman/manifest.json
                  sed -i 's/"name":.*,/"name": "Watchman (DEV)",/' custom_components/watchman/manifest.json

                  # --- 2. Modifications to const.py ---
                  sed -i 's/DB_FILENAME = "watchman.db"/DB_FILENAME = "watchman_dev.db"/' custom_components/watchman/const.py
                  sed -i 's/DOMAIN = "watchman"/DOMAIN = "watchman_dev"/' custom_components/watchman/const.py
                  sed -i 's/DOMAIN_DATA = "watchman_data"/DOMAIN_DATA = "watchman_dev_data"/' custom_components/watchman/const.py
                  sed -i 's/PACKAGE_NAME = "custom_components.watchman"/PACKAGE_NAME = "custom_components.watchman_dev"/' custom_components/watchman/const.py

                  # --- 3. Rename the folder ---
                  mv custom_components/watchman custom_components/watchman_dev

            - name: Push to Dev Repository
              uses: cpina/github-action-push-to-another-repository@main
              env:
                  API_TOKEN_GITHUB: ${{ secrets.DEV_REPO_TOKEN }}
              with:
                  source-directory: "."
                  destination-github-username: "${{ github.repository_owner }}"
                  destination-repository-name: "thewatchman_dev"
                  user-email: ${{ github.actor }}@users.noreply.github.com
                  target-branch: main
                  create-target-branch-if-needed: true
                  commit-message: "Auto-deploy DEV version from main repo"
